@font-face {
    font-family: 'Fira Code';
    src: url('./fonts/Fira_Code/FiraCode-VariableFont_wght.ttf');
}

html,body {
    margin: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

#header {
    flex: none;
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

#console {
    flex: 9;
    background-color: black;
    color: white;
    font-family: 'Fira Code', monospace;
}

#console * {
    list-style-type: '> ';
}